/* 
* TODO:
* Decide on global link styling
* Choose between two options
*/
/* :root { */
/*     --background-color: #ffffff; */
/*     --text-color: #111111; */
/*     --link-color: #0000ee; */
/* } */

/* @media (prefers-color-scheme: dark) { */
/*     :root { */
/*         --background-color: #121212; */
/*         --text-color: #e0e0e0; */
/*         --link-color: #b580ff; */
/*     } */
/* } */

:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --link-color: #619eff;

    /* Some alternative colors */
    /* --link-color: #b580ff; */
    /* --link-color: #66a1ff; */
    /* --link-color: #9f75ff; */
}

body {
    max-width: 900px;
    margin: auto;
    padding: 1.5rem 1rem;
    
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: "Noto Serif", "Cambria", Times, serif;
    font-size: 1rem;
    font-size-adjust: ex-height 0.54;
    line-height: 1.6;
}

a {
    color: var(--link-color);
}

a.project-page-link {
    color: var(--text-color);
    text-decoration: none;
}

a.project-page-link:hover {
    color: var(--text-color);
    text-decoration: underline;
}

.description .summary {
    margin-left: 25px;
}

/* PROJECTS LIST PAGE */

.project .title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.project .title * {
    margin: 0
}

.project .project-links {
    margin: 2px 0px 4px 0px;
    display: flex;
    gap: 15px;
}

/* PROJECTS DETAILS PAGE */

.project-details {
    margin: 20px 0px;
}

.project-details .title {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.project-details .title * {
    margin: 0
}

.project-details #project-type {
    font-style: italic;
}

img {
    max-width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

figure figcaption {
    font-style: italic; 
}

